<section class="geofence-container">
  <%= link_to 'Back', geofences_path, class: 'btn btn-warning  btn-back' %>
  <%= link_to 'Show', @geofence, class: 'btn btn-info  btn-show' %>
  <h1 class="title-class">Editing Geofence</h1>

  <%= render 'form', geofence: @geofence %>

</section>
