<div class="geofence-container">
  <%= link_to 'Back', geofences_path, class: 'btn btn-warning pull-right btn-back' %>
  <h1 class="title-class">New Geofence</h1>

  <%= render 'form', geofence: @geofence %>

</div>
