/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require boostrap
 */

 $border: 1px solid #000;

@font-face {
  font-family: 'SCHLBKB';
  src:  url('/fonts/SCHLBKB.TTF');
}

 body{
  background-color: #d8d8d8 !important;
  font-family: 'SCHLBKB' !important;
 }

 .index-container{
  max-width: 1200px;
  min-height: 600px;
  background-color: #fff;
  margin: auto;
  padding: 15px;
 }

.title-class{
  text-align: center;
  font-size: 4em;
  margin-bottom: 10px;
  color: #342f2f;
}

  #map {
    height: 500px;
    max-width: 800px;
    margin:auto;  
   }

.m-buttons{
  margin-right: 10px;
}

.show-container{
  padding: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  border: $border;
  margin: auto;
  font-size: 1.2em;
  background: #fff;

  .buttons-container{
    padding: 15px;
    border-bottom: $border;

    button, a{
      width: 115px;
      height: 40px;
      padding-top: 10px;
    }
  }

  dt{
    margin-top: 5px;
  }

  dd{
    padding: 20px;
    border-bottom: $border;
  }
}

.table{
  margin: auto;
  max-width: 1200px;
}

.modal-body {
  font-size: 1.3em;
}
